<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chill Search</title>
  <link rel="stylesheet" href="static/style.css" />
</head>

<body>
  <h1>Chill Search</h1>
  <i></i>

  <div>
    <form method="get" action="search" class="searchForm">
      <input name="q" />
      <button type="submit">Search</button>
    </form>
  </div>
  <!-- <ul>
    {{range .Todos}} {{if .Done}}
    <li class="done">{{.Title}}</li>
    {{else}}
    <li>{{.Title}}</li>
    {{end}} {{end}}
  </ul> -->

  <!-- <script src="index.js"></script> -->
</body>

</html>